<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>

<h3>
  <% if @product.quantity > 0 %>
    <%= link_to 'Comprar', purchase_product_path(@product), style: "color:blue" %>
  <% else %>
    <%= link_to 'Lo lamentamos, se han acabado las unidades disponibles', products_path, style: "color:blue" %>
  <% end %>
</h3>

<%= link_to 'Eliminar producto', product_path(@product), method: :delete %> |
<%= link_to 'Regresar a producto', products_path %>